{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="bloke blog">
    <meta name="author" content="bloke">
    <title>Bloke Blog</title>
    <link href="{% static 'blog/img/favicon.ico' %}" rel="shortcut icon">
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">Mr. Wang</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:index' %}">博客主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:about' %}">博主简介</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:contact' %}">联系博主</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" action="{% url 'blog:index' %}">
                        {% if search_data %}
                            <input type="search" class="nav-link form-control" placeholder="Search..." name="search"
                                   id="search_data" value="{{ search_data }}">
                        {% else %}
                            <input type="search" class="nav-link form-control" placeholder="Search..." name="search"
                                   id="search_data">
                        {% endif %}
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/anonxiaozi" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Mr. Wang 2019</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
